WLOGS_CLIENT_ID="your_client_id"
WLOGS_CLIENT_SECRET="your_client_secret"
WLOGS_TOKEN_URL="https://www.warcraftlogs.com/oauth/token"
WLOGS_AUTHORIZE_URL="https://www.warcraftlogs.com/api/v2/client"
WLOGS_GRANT_TYPE='client_credentials'

WOW_GUILD_ID=505778
WOW_DEFAULT_ZONE_ID=603
